# ::::: __________________________________________________________________ :::::
# : ____\ ._ ____ _____ __. ____ ___ _______ .__ ______ .__ _____ .__ _. /____ :
# __\ .___! _\__/__    / _|__   / _/_____  __|  \ gRK __|_ \  __  |_ \ !___. /__
# \   ! ___/  |/  /___/  |   \__\ ._/  __\/  \   \___/  |/  \/  \_./  \___ !   /
# /__  (___   /\____\____|\   ____|   /  /___|\   ______.    ____\|\   ___)  __\
#   /____  \_/ ___________ \_/ __ |__/ _______ \_/ ____ |___/ _____ \_/  ____\
# :     /________________________________________________________________\     :
# :::::       +  p  H  E  N  O  M  p  R  O  D  U  C  T  I  O  N  S  +      :::::
# ==============================================================================
# iChat v2.2 Configuration

###################################################################################################################
# Server settings
###################################################################################################################


#------------------------------------------------------------------------------
# default server - this id will be used if no server id is used on command line
server_id = 0

# initialize server variables - increase max if required
max_servers = 10

host = [0 for i in range(max_servers)]
port = [0 for i in range(max_servers)]
channel = [0 for i in range(max_servers)]
srvpass = [0 for i in range(max_servers)]
password = [0 for i in range(max_servers)]
ssl = [0 for i in range(max_servers)]

# server #2 - make sure to use the number in the brackets [x]
host     [2] = "irc.opicron.eu"
port     [2] = 6697
channel  [2] = "#General"
srvpass  [2] = ""
password [2] = "iChatGen"
ssl      [2] = True

# server #1 - make sure to use the number in the brackets [x]
host     [1] = "irc.opicron.eu"
port     [1] = 6697
channel  [1] = "#Trivia"
srvpass  [1] = ""
password [1] = "iChatTriv"
ssl      [1] = True

# server #2 - make sure to use the number in the brackets [x]
host     [0] = "slackers.ddns.net"
port     [0] = 6969
channel  [0] = "#slackers"
srvpass  [0] = ""
password [0] = ""
ssl      [0] = True

# (OPTIONAL) pager channel settings *KEEP THESE VERY PRIVATE* 
# to request private channel contact me here:
#    TheForze BBS:
#	    bbs.opicron.eu:23
#	    bbs.opicron.eu:22
#    Netmail:
#   	fsxnet 21:3/126
#	    araknet 10:104/4
pager_host     = ""
pager_port     = 6667
pager_channel  = ""
pager_password = ""
pager_ssl      = False

# which name in private channel should the pager react to? Any response from this name
# will pull the user into IRC from paging screen. Defaults to Sysop name configured in MysticBBS. 
# Override to use another name.
pager_sysop_name = ""

# show username tab by default? 
# set to False to disable
username_tab = True

# set to true on irc channels to poll users for live away status
# this should not cause flood kicks!
poll_users = True

###################################################################################################################
# Ansi settings
###################################################################################################################

#------------------------------------------------------------------------------
# clear screen mci code
mci_clearscr = '|07|16|CL'

# pager ansi filename (no path! needs to be located in default irc path)
filename_pager = 'pager.ans'

# chat screen ansiname (no path! needs to be located in default irc path)
filename_chatscreen = 'chat.ans'


###################################################################################################################
# Chat settings
###################################################################################################################

# strip all colors and styles from text? defailt False
strip_irc_codes = False

# default notice color
mci_notice  = '|14'

# default error color
mci_error  = '|12'

# default chat color
mci_default_fg = '|07'

# default chat color
mci_default_bg = '|16'

# clear to end of line 
mci_clearline = '|[K'

mci_channel_clearline = '|$X48 '
mci_topic_clearline = '|$X78 '

# start chat pos
mci_chat_xy = '|[X01|[Y05'

# start chat xpos plus spacing
mci_chat_line_x = '|[X01 '

# channel name color
mci_channel_color = '|15'

# channel name pos
mci_channel_name_xy = '|[X13|[Y02'

# channel topic color
mci_topic_color = '|15'

# channel topic pos
mci_channel_topic_xy = '|[X13|[Y03'

# chat prompt pos
mci_chat_prompt_xy = '|[Y24|[X01'

# chat prompt
mci_chat_prompt = '|09 >> |15'

# array of bot names ['name','name']
mci_bot_names = ['FB']

mci_bot_prefix = '|08[|09*|08] '

# chat bar text color
mci_chat_color = '|15'

# number of lines to show
max_chat_lines = 18

# max line length
max_line_len = 79

# whisper private message indication
mci_whisper_prvmsg = "|08prvmsg|09>"

# whisper postfix
mci_whisper_postfix = ''

# whisper prefix
mci_whisper_prefix = '|08[|12*|08] '

#nickname color
mci_name_color = '|15'

#nickname postfix
mci_name_postfix = '|09: '

#action color
mci_action_color = '|09'

#join color
mci_join_color = '|08'



###################################################################################################################
# Pager settings
###################################################################################################################

# blank pager bar color and character 
pager_bar_blank     = '|16|08'+chr(176)

# fill pager bar color and character 
pager_bar_fill      = '|16|11'+chr(178)

# pager bar starting position xy
pager_bar_startpos  = '|[X23|[Y13'

# pager bar total length
pager_bar_length    = 46

# pager time starting position xy and color
pager_time_startpos = '|[X64|[Y11|09'

# pager connected to irc text
pager_connected     = '|[X10|[Y15|15status |08[|10connected|08]'


###################################################################################################################
# User list options
###################################################################################################################

# Away color on name list
mci_list_name_away_color = "|08"

# User color on name list
mci_list_name_color = "|09"

# How much time between name and away status poll in regular channels 
# each tic is 0.05s (200 = 10 seconds)
user_polltime = 400

# name list xy
mci_list_name_xy = "|[X64|[Y05"

mci_list_name_top_char = ":"
mci_list_name_middle_char = "|"
mci_list_name_bottom = "|01`--------------'"



###################################################################################################################
# Other
###################################################################################################################

# Notice on forced exit
forced_exit_notice = "|[Y24|[X02|14press any key to exit..|[K|PN"

# Uppercase first key?
uppercase_first_key = False

